.dashboard-container {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    min-height: 100vh;
  }
  
  .dashboard-header {
    font-size: 2rem;
    color: #45f3ff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .tabs {
    display: flex;
    justify-content: space-evenly;
    background-color: #28292d;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .tab-button {
    background-color: transparent;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab-button:hover {
    background-color: #45f3ff;
    color: #000;
  }
  
  .tab-button.active {
    background-color: #45f3ff;
    color: #000;
    border-radius: 5px;
  }
  
  .tab-content {
    padding: 20px;
    background-color: #23242a;
    border-radius: 8px;
  }
  